.goalContainer {
    margin: 0% auto auto auto;
    text-align: center;
}

.goalContent {
    height: 50vh;
    overflow-y: scroll;
    width: 50vw;
    border: 2px black solid;
    border-radius: 10px;
    padding: 1%;
}

.goalContentHidden {
    display: none;
}