.homePage {
    margin: auto;
    display: inline-block;
}

.homePage button {
    width: 30%;
    height: 3em;
    border-radius: 10px;
    background-color: rgb(61, 141, 245);
    color: white;
    border: 2px white solid;
}

.homePage button:hover {
    background-color: white;
    color: rgb(61, 141, 245);
    border: 2px rgb(61, 141, 245) solid;
}

